<header-dir></header-dir>
<div class="main-body">
  <h1>Your Order has been submitted</h1>
  <div ng-repeat="order in orders">
    Order ID: {{order.id}}<br>
  </div>
  <h2>Your Receipt:</h2>
  <div class="" ng-repeat="item in cart">
    {{item.food_name}},
    {{item.price | currency}},
    Quantity: {{item.qty}}
  </div>
  <div class="large-text">
  Total: {{getTotal() | currency}}
  </div>
</div>


<div class="lasthope" id="admin-main-footer">
  <footer-dir class="footer-bottom"></footer-dir>
</div>
