<header-dir></header-dir>

<div class="blue-background main-body">


<h1>Add new menu item:</h1>
Name:<input class="form-field" ng-model="food.food_name" type="text" name="name"/>
<br>
Description:<input class="form-field" ng-model="food.description"type="text" name="description" value="" /><br>
Image:<input class="form-field" ng-model="food.image" type="text" name="image"><br>
Category: <select class="form-field" name="category" ng-model="food.food_cat_id[0]" ng-options="section.category for section in categories track by section.id">
</select><br>
Price:<input class="form-field" ng-model="food.price" type="number" name="name" value="" /><br><br>
<input class="button" type="reset" name="name" value="Reset" /><br>
<button class="button" ng-click="addToMenu(food); getMenu()">SUBMIT</button>
<br>
<hr>
<br>
</div>

<div class="main-body">
  <h1>Menu</h1>
  <div ng-repeat="item in menu">
    <!-- {{item.id}} -->
    {{item.category}}
    <br>
    <b>{{item.food_name}}</b>
    <img class="menu-img" ng-src="{{item.image}}" alt="" />
    <br>
    <h6>{{item.description}}</h6>
    <h6>{{item.price | currency}}</h6>
    <br>
    <button type="button" name="button"  ui-sref="editmenuitem({id: item.id})">Edit</button>
    <button type="button" name="button" ng-click="delete(item.id)">Delete Item</button>
    <hr>
  </div>

</div>
<br>


<div class="lasthope" id="admin-update-menu-footer">
  <footer-dir class="footer-bottom"></footer-dir>
</div>
